.vscode/
hostfile
__pycache__/
vci_job_*
lightning_logs/
outputs/
log/
uv.lock
notebooks/
*.sif
*.slurm
wandb/

# bio data
*.h5ad
*.h5

# temporary files
tmp/
temp
temp/

# virtual environment
venv/
env/
.venv/

# PyTorch
*.pt
*.pth
*.torch          
checkpoints/
*.ckpt
*.pkl
